.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px;
  height: 100%;
  width: 600px;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-container {
  padding: 10px;
  border-radius: 10px;
  background-color: #000052;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  box-shadow: 1px 3px 5px #9b9b9b;
}

.visual {
  display: block;
  margin: 0 auto;
  font-weight: bolder;
  color: white;
  font-size: xx-large;
}

.visual {
  display: block;
  margin: 0 auto;
  font-weight: bolder;
  color: white;
  font-size: x-large;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/BUKIDNON STATE UNIVERSITY(1).png");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-control {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn btn-primary mb-3 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.Signin {
  color: white;
  display: flex;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-group .btn {
  width: 200px;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: white;
}
